/* Adicionar aqui toda a estilização criada para sua aplicação. */


@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: black;
}


:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer));    
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 20vh;
    --largura-campo: calc(var(--tamanho-login)*0.8);
    --tamanho-social: calc(100vh - var(--tamanho-footer) - var(--tamanho-header));
}


.header {
    height: var(--tamanho-header);
    border-bottom: 4px solid #32B9CD;
}

.header li{
    color: orange;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}


.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header a {
    text-decoration: none;
    color: #FFFFFF;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: color(#e3b062);
}


.titulo {
    color: #32B9CD;
    width: fit-content;
    font-weight: 500;
}


.banner{    
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}   


.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}


.banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}


.banner .container span {
    font-weight: 800;
}


.social {
    height: var(--tamanho-social) fit-content;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social .container .boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 48%;
    padding: 30px 0;
}
.social .boxes h4{
    margin-right: 8%;
}

.box {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: center;
}


.box img{
    width: 170px;
}



.footer {
    background-color: #32b9cd;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}


.footer .container {
    justify-content: center;
    align-items: center;
}

.version {
    align-self: flex-start;
    font-size:12px;
}
.login{
    height: var(--tamanho-login);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.card{
    background-color: #e5e5e5;
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    font-weight: 800;
    padding: 0px;
    margin: 0;
}
.card h2{
    color: #d37499;
    margin: 0;
    margin-top: 30px;
    font-size: 28px;
}
.campo span{
    color: #d37499;
    align-self: flex-start;
}

.card input{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #32B9CD;
    height: 40px;
    text-align: center;
    font-size: 15px;
}

.formulario .botao{
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    background-color: #EC145B;
    border: 0;
    color: white;
    padding: 5px;
    text-align: center;
    width: 120px;
    font-weight: 800;
    margin: 20px;
}
.login .container{
    justify-content: center;
}
.campo{
    width:  75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}


